@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.signup-message {
    margin-left: 270px;
}

.logogoogle {
    max-width: 25px; /* Tamanho reduzido */
    height: 25px;    /* Tamanho reduzido */
}

.logoface {
    max-width: 25px; /* Tamanho reduzido */
    height: 25px;    /* Tamanho reduzido */
}

header {
    background-color: #0026ff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #0026ff;

    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
        background-color: #0026ff;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

h1 {
    color: white;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.mapa {
    text-align: center;
    margin-bottom: 2rem;
}

.mapa iframe {
    max-width: 100%;
    height: auto;
}

.form-container {
    max-width: 600px; /* Limita a largura do formulário */
    margin: 2rem auto; /* Centraliza o formulário com margem superior e inferior */
    padding: 1rem;
    background: #e0f7fa; /* Azul bebê */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.form-container h4 {
    margin-bottom: 1rem;
    color: #4b4b4b;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centraliza o título do formulário */
}

.form-group {
    margin-bottom: 1rem;
}

.social {
    text-decoration: none;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 94%; /* Mantenha a largura consistente */
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.form-group button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #0187a7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #016f8b;
}
.mobile-menu {
    display: none; /* Oculta por padrão */
    background-color: #fff; /* Cor de fundo */
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mobile-menu.open {
    display: block; /* Mostra quando ativo */
}